body{
    background-image: url(../img/chuck.jpg);
    height: 50px;
    color: whitesmoke;
    text-align: center;
    font-size: larger;
    
   
}

h1 {
    text-align: center;
    background-color: rgb(143, 137, 137);
}

